{% extends "plain-page-base.html" %}
{% block title %} - Sobre nosotros {% endblock %}
{% block content %}

    <div class="template-content">
        <div class="container-fluid">

            <div class="about-content">
                <h2 class="page-title">
                   Flirtu: la aplicación de citas de telegramas más grande
                </h2>
                <div class="contact-us__sub-title">
                   Nuestra misión es brindarle a las personas un servicio conveniente, simple y rápido.
solución para personas conocedoras sin tener que acudir a un mensajero conveniente
                </div>


                <div class="about-content__text">
                    <p>
                        En Flirtu estamos 100% seguros de que todos pueden encontrar
¡la pareja perfecta! Nos hemos convertido en la aplicación de conocimiento más grande
en Telegram, porque pudieron crear las mejores herramientas para
comunicación de personas.
                    </p>

                    <p>
                       La experiencia de los miembros de nuestro Equipo nos ha dado grandes ideas que
ayudó a resolver los principales problemas en el campo de la social
conocimiento, en particular los problemas asociados con
ĸ confidencialidad y seguridad. Esto nos permite siempre
Mantente un paso por delante y céntrate en la innovación.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}