{% extends "plain-page-base.html" %}

{% block content %}

    <div class="template-content">
        <div class="container-fluid">

            <div class="about-content">
                <h2 class="page-title">
                   Flirtu es la red de descubrimiento social más grande del mundo.
                </h2>
                <div class="contact-us__sub-title">
                    Nuestra misión es brindar la mejor tecnología para que las personas se reúnan, porque la felicidad se comparte mejor
                </div>


                <div class="about-content__text">
                    <p>
                        En Flirtu creemos que hay alguien para todos. Nos hemos convertido en el mayor descubrimiento social
                         red en el mundo porque hemos creado las mejores herramientas para conectar personas
                    </p>

                    <p>
                        Nuestros muchos años de experiencia nos han brindado grandes conocimientos y experiencia que nos han ayudado
                         resolver los principales desafíos en el espacio de descubrimiento social, especialmente con problemas relacionados con la privacidad,
                         seguridad y proteccion. Esto nos ha permitido estar a la vanguardia y centrarnos en la innovación,
                         pionera en muchas de las funciones estándar actuales, como la coincidencia basada en la ubicación.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}