{% extends "plain-page-base.html" %}
{% load i18n static thumbnail %}
{% block title %} - Preguntas frecuentes sobre Flirtu {% endblock %}
{% block content %}

    <div class="template-content">
    <div class="container-fluid">
      <h2>Preguntas frecuentes sobre Flirtu</h2>

      <div class="faq__question-list">
        <a href="#1">¿Qué es esta plataforma y cómo funciona?</a>
        <a href="#2">Puse x en lugar de 💚, ¿cómo puedo cambiar mi opinión?</a>
        <a href="#3">¿Por qué no puedo chatear con los que me gustan de inmediato?</a>
        <a href="#4">¿Por qué, después de una coincidencia, me llega un enlace a un chat y no un contacto de Telegram?</a>
        <a href="#5">¿Qué son las monedas y los servicios de pago? ¿Para qué sirven?</a>
        <a href="#6">¿Cómo abrir la sección "Me gustas"?</a>
        <a href="#7">¿Cómo obtener monedas?</a>
        <a href="#8">¿Cómo ganar monedas (conseguirlas gratis)?</a>
        <a href="#9">¿Por qué tengo que pagar?</a>
        <a href="#10">¿Cómo puedo conocer chicas/chicos gratis?</a>
        <a href="#11">Tuve una coincidencia, escribí, pero no me respondieron, ¿por qué?</a>
        <a href="#12">Casi no le gusto a nadie, tengo pocas coincidencias, ¿qué puedo hacer?</a>
        <a href="#13">¿Por qué mi foto fue rechazada y mi cuenta bloqueada?</a>
        <a href="#14">¿Desde qué edad puedo utilizar el servicio?</a>
        <a href="#15">¿Cómo puedo eliminar mi perfil?</a>
        <a href="#16">Desaparecieron mis botones de control de la plataforma </a>
      </div>



<p>Si no encontró la respuesta a su pregunta aquí, puede contactarse con el soporte técnico en  <a href="https://t.me/flirtu_support" target="_blank">@Flirtu_support.</a>
</p>


<p>Por favor, indique su pregunta de antemano y describa lo que le sucedió, cuál es el problema y qué es exactamente lo que no le queda claro; si es necesario, adjunte una captura de pantalla.</p>
<p>

Reclamos que indiquen "todo está mal", "qué hacer", "no entiendo", "ayúdame, no me sale" y otros que no contengan una descripción clara del problema no serán consideradas.</p>
<p>
Tampoco se considerarán los mensajes de voz y los mensajes enviados como chat anónimo.</p>
      <h3 id="1">¿Qué es esta plataforma y cómo funciona?</h3>
      <p> @Flirtu_bot es un servicio de citas. Haga clic en  <a href="#1">✳️INICIAR ✳️</a>y vea los perfiles de quienes también están buscando pareja. Pon un 💚 en los que te gustan. Cuando recibas un 💚, ambos recibirán un mensaje 💞 de simpatía mutua y 💌 un enlace a un chat donde podrán charlar directamente. Si no quieres esperar, puede usar servicios de pago para aumentar tu popularidad o simplificar el proceso de citas.</p>

<h3 id="2">Puse X en lugar de 💚, ¿cómo puedo cambiar mi opinión?</h3>
<p>
  No se puede. Una vez que se ha establecido una calificación, no se puede cambiar ni cancelar. Entonces, en caso de duda, mejor ponga 💚. Siempre puedes dejar de chatear más adelante)))
</p>

<h3 id="3">
 ¿Por qué no puedo chatear con los que me gustan de inmediato?
</h3>
<p>
  Porque la afinidad debe ser MUTUA. No es suficiente que solo tú le pongas a alguien un 💚. Esta persona también tiene que calificarte con un 💚. No importa quién ponga el 💚 primero y quién segundo, lo principal es que AMBOS lo hagan. Solo entonces tendrás una coincidencia de afinidad, después de lo cual ambos recibirán un mensaje sobre 💞 una coincidencia de afinidades 💌 y un enlace al chat, donde pueden comunicarse directamente.
</p>

<h3 id="4">¿Por qué, después de una coincidencia, me llegan un enlace a un chat y no un contacto de Telegram?</h3>
<p>
  Los contactos de los usuarios son información personal, no podemos difundirla. Solo los propios usuarios pueden decidir con quién compartir sus contactos. El chat es una oportunidad para charlar y decidir si deseas continuar la comunicación y compartir tus contactos.
</p>

<h3 id="5">¿Qué son las monedas y los servicios de pago? ¿Para qué sirven?</h3>
<p>
 Las monedas son valores de la plataforma para comprar/abrir servicios de pago adicionales que pueden acelerar y facilitar el proceso de citas o aumentar tu popularidad:
  <p>- 🚀Prioridad es una función que promueve tu perfil a lugares de visualización prioritarios para todos los usuarios, y ellos lo ven fuera de su turno. Inmediatamente, notarás cómo ha aumentado tu popularidad y cómo ha aumentado el número de coincidencias)))</p>
  <p>- 💗Le gusto, esta es la sección en la que se seleccionan los perfiles de SOLO aquellas personas a las que YA les gustaste. Si no deseas ver en el Inicio todos los perfiles que coinciden con tus condiciones de búsqueda, o no deseas esperar hasta que alguien que te gusta lo vea y ponga que le gusta en respuesta, en esta sección puedes elegir entre los que ya han puesto 💚 e inmediatamente obtener una coincidencia + 💌 chat para comunicarse. </p>
  <p>- 🎁Un regalo es una forma de llamar la atención de la persona que te gusta y ofrecerle tu propuesta para una evaluación de inmediata, en el momento de enviar el regalo, y no en la pantalla general. Además, si tu solicitud fue rechazada inicialmente, el obsequio le dará a la persona que te gusta la oportunidad de cambiar de opinión.</p>


<p>- Aceleración del límite de tiempo al mostrar perfiles para quienes no les gusta esperar</p>

</p>

<h3 id="6">
 ¿Cómo abrir la sección "Me gustas"?
</h3>
<p>
  El botón "💗Me gustas" se encuentra en el menú principal, en la parte inferior derecha debajo del botón
  <a href="#1">✳️INICIAR ✳️</a>

</p>
  <img src="//d33tflfwlj5scn.cloudfront.net{% static 'assets/img/faq.jpg' %}" alt="" class="faq-img">

<h3 id="7">¿Cómo obtener monedas?</h3>
<p>Debes ir a la sección 💰Monedas. Hay instrucciones detalladas sobre cómo se pueden usar y cómo comprarlas. Existen varios métodos de pago.</p>

<h3 id="8">¿Cómo ganar monedas (conseguirlas gratis)?</h3>
<p>Actualmente no existe tal función. Quizás aparezca más adelante.</p>

<h3 id="9">¿Por qué tengo que pagar?</h3>
<p>Nadie te obliga a pagar. Toda la funcionalidad básica necesaria para las citas está disponible de forma gratuita. Y utilizar o no <a href="#5">servicios pagados </a> , esto es únicamente tu deseo y decisión.</p>

<h3 id="10">¿Cómo puedo conocer chicas/chicos gratis?</h3>
<p>Haz clic en <a href="#1">✳️INICIAR ✳️</a>.
Ahí están perfiles recopilados de todos los usuarios que coinciden con tu configuración de búsqueda: a los que ya les has gustado y los que aún no te han visto. </p>

<h3 id="11">Tuve una coincidencia, escribí, pero no me respondieron, ¿por qué?</h3>
<p>Solo alguien que no te responda puede responder a esta pregunta. Al recibir un mensaje, el usuario recibe una notificación con sonido de un mensaje entrante, así como una indicación de mensajes no leídos en los botones del menú principal. Es posible que no te respondan por muchas razones: tal vez esta persona esté ocupada ahora, no está constantemente en la plataforma o que ya haya conocido a otra persona.</p>

<h3 id="12">Casi no le gusto a nadie, tengo pocas coincidencias, ¿qué puedo hacer?</h3>
<p>Asegúrate de que tu perfil se vea atractivo e interesante: sube una muy buena selfie, brillante, bonita. Completa la sección "Acerca de mí", escribe un poco sobre el tipo de relación que buscas, sobre tus gustos e intereses. También puedes utilizar la función 🚀Prioridad para aumentar tu popularidad y mostrar tu perfil a otros usuarios sin esperar en la fila.</p>

<h3 id="13">¿Por qué mi foto fue rechazada y mi cuenta bloqueada?</h3>
<p>Porque esta foto u otros datos del perfil no cumplen con las reglas del servicio. Por ejemplo, una imagen u otro dato de mala calidad / no tiene cara / es de Internet / contiene direcciones o contactos / pertenece a una persona menor de 18 años o a un niño / contienen publicidad u ofertas comerciales, etc.</p>

<h3 id="14">¿Desde qué edad puedo utilizar el servicio?</h3>
<p>A partir de los 18 años.</p>

<h3 id="15">¿Cómo puedo eliminar mi perfil?</h3>
<p>
Actualmente, los usuarios no pueden hacer esto por su cuenta. Para eliminar un perfil, debe comunicarse con el servicio de asistencia técnica en
<a href="https://t.me/flirtu_support" target="_blank">@Flirtu_support.</a>
En la solicitud, debe enviar un mensaje de la plataforma (o una captura de pantalla) con los datos del usuario, que la plataforma envía cuando ingresa a ⚙️Configuraciones ––> 👤Mi perfil. Además, por favor indique el motivo de la eliminación; es muy importante que sepamos esto para mejorar el servicio))
</p>

<h3 id="16">Desaparecieron mis botones de control de la plataforma </h3>
<p>Haga clic aquí:</p>
<img src="//d33tflfwlj5scn.cloudfront.net{% static 'assets/img/faq2.jpg' %}" alt="" class="faq-img">

<p>Si no encontró la respuesta a su pregunta aquí, puede contactar con el servicio de soporte técnico del servicio <a href="https://t.me/flirtu_support" target="_blank">@Flirtu_support</a>.
</p>
<p>
Por favor, indique su pregunta de antemano y describa lo que le sucedió, cuál es el problema y qué es exactamente lo que no le queda claro; si es necesario, adjunte una captura de pantalla.
</p>
<p>
Reclamos que indiquen "todo está mal", "qué hacer", "no entiendo", "ayúdame, no me sale" y otras que no contengan una descripción clara del problema no serán consideradas.</p>
<p>
Tampoco se considerarán los mensajes de voz y los mensajes enviados como chat anónimo.
</p>

</div>
</div>

{% endblock %}