{% extends "plain-page-base.html" %}
{% block title %} - Política de privacidad {% endblock %}
{% block content %}

    <div class="template-content">
    <div class="container-fluid">
        <h2>Política de privacidad
</h2>
<h3>
  SOBRE NOSOTROS
</h3>
<p>
    Representante oficial de Flirtu.io en el Flirtu SIA de la Unión Europea, una empresa registrada en Letonia con el número: No. 40103768351. Dirección legal: Kr.Valdemara 21, Riga, LV1010, Letonia.
</p>
<p>Puede ponerse en contacto con el Delegado de Protección de Datos de Flitubot enviando un correo electrónico a: <a href="mailto:support@flirtu.io?subject=Flirtu support">info@flirtu.io</a></p>
<p>Antes de contarte por qué, cuándo, cómo y qué tipo de datos personales recopila y procesa Flirtu sobre los usuarios, permíteme explicarte algunos conceptos básicos sobre la protección de datos personales. Creemos que de esta manera comprenderá y comprenderá mejor por qué Flirtu actúa de la manera elegida al procesar datos personales.
</p>


<div class="template-table">




    <div class="template-table-item">
        <div class="template-table-col template-table-col--name">
         Información personal
        </div>
        <div class="template-table-col">
           Los datos personales son cualquier información sobre una persona física identificada o identificable (sujeto de datos). Una persona física identificable es una persona física que puede ser identificada directa o indirectamente, en particular por referencia a un identificador específico (nombre, número, identificador de red) oa uno o más elementos específicos de una entidad física, fisiológica, genética, psicológica. , económica, cultural o la identidad social del individuo.
        </div>

    </div>

    <div class="template-table-item">
        <div class="template-table-col template-table-col--name">
            Sujeto de datos
        </div>
        <div class="template-table-col">
        El interesado es una persona a la que se refieren los datos personales y que puede identificarse mediante datos personales o que es identificable.
        </div>

    </div>
 <div class="template-table-item">
        <div class="template-table-col template-table-col--name">
          Categorías especiales de datos personales
        </div>
        <div class="template-table-col">
         Esta es una nueva designación para datos personales confidenciales. Estamos hablando de dichos datos personales, que en sí mismos pueden dañar al interesado en la sociedad, en el trabajo, en la universidad o pueden provocar discriminación. Dichos datos personales generalmente reflejan el origen racial o étnico, opiniones políticas, creencias religiosas o filosóficas, afiliación sindical o datos genéticos y biométricos que se procesan para identificar de manera única a una persona y datos sobre la salud, la vida sexual o la orientación sexual de la persona.
        </div>

    </div>

 <div class="template-table-item">
        <div class="template-table-col template-table-col--name">
          Administrador de datos personales
        </div>
        <div class="template-table-col">
          El administrador es una persona física o jurídica que determina los fines y los medios para procesar los datos personales y es el principal responsable del procesamiento. A menos que se indique lo contrario en estos principios o términos para un servicio en particular, Flirtu es el controlador de datos.
        </div>

    </div>

 <div class="template-table-item">
        <div class="template-table-col template-table-col--name">
        Operador de datos personales
        </div>
        <div class="template-table-col">
         El operador es una persona física o jurídica que, siguiendo las instrucciones del administrador, procesa datos personales para el administrador.
        </div>

    </div>

    <div class="template-table-item">
        <div class="template-table-col template-table-col--name">
       Tratamiento de datos personales
        </div>
        <div class="template-table-col">
         El procesamiento es cualquier operación o conjunto de operaciones que se realizan con datos personales o matrices de datos personales con o sin el uso de procedimientos automáticos, tales como recolección, registro, sistematización, estructuración, almacenamiento, aclaración o modificación, búsqueda, visualización, uso, acceso cuando se transfiera, distribuya o cualquier otra disposición de acceso, pedido o combinación, limitación, supresión o destrucción.
        </div>

    </div>

</div>





<h3>
    ¿QUÉ INFORMACIÓN RECOPILAMOS?
</h3>
<p>Flirtu es un servicio para personas mayores de dieciocho años, cuyo objetivo principal es conocer y charlar con gente nueva. Puede utilizar los servicios que brindamos de diferentes formas: a través de la aplicación móvil Telegram para la plataforma Android o iOS. Al registrarse en Flirtu, está celebrando un acuerdo legal con nosotros.<a href="{% url 'agreement' %}">https://flirtu.io/agreement/</a> y procesamos sus datos con el fin de proporcionar un servicio de acuerdo con los términos de este acuerdo.
</p>
<p>Para convertirse en usuario de Flirtu, debe crear un perfil. Durante el registro, podemos pedirle que proporcione la siguiente información: nombre, dirección de correo electrónico, sexo, fecha de nacimiento, su ubicación. También puede proporcionar otra información sobre usted ingresando en su perfil, pero estos no son obligatorios. Tú controlas tu perfil y tienes acceso permanente a estos datos en la sección "Perfil" de Flirtu, donde todos los datos se pueden corregir o actualizar (excepto el número de identificación - id).</p>
<p>Tenga cuidado al publicar información personal como su salud u orientación sexual en su perfil. Tenga en cuenta que las fotos o videos que publique en Flirtu pueden revelar este tipo de información personal. Si proporciona o carga información personal sobre usted, acepta su procesamiento y publicación en el dominio público.</p>
<p>En aras de la seguridad y para mejorar la experiencia del usuario, el perfil personal del usuario está vinculado a su cuenta de Telegram. Esto solo es necesario para asegurarse de que su perfil personal le pertenece. También luchamos contra la creación de cuentas falsas que pueden usarse para dañar a otros usuarios, así como para cometer delitos cibernéticos; dichas cuentas representan una amenaza para la comunidad de Flirtu y evitan que otros usuarios disfruten de la comunicación. Utilizamos los datos de su cuenta de Telegram en función de los intereses legítimos anteriores y para prevenir el fraude y el ciberdelito.</p>
<p>Si compra algún servicio premium mientras usa Flirtu, procesaremos su información de pago y la almacenaremos de manera segura para prevenir el fraude y para fines de auditoría y / o impuestos. De acuerdo con la ley de protección de datos, necesitamos recopilar y procesar estos datos de pago para cumplir con nuestras obligaciones para con usted, el almacenamiento de estos datos está justificado por nuestros intereses legítimos establecidos anteriormente.</p>
<p>Para proporcionar a los usuarios un servicio gratuito y no premium, procesamos una serie de datos (datos demográficos y ubicación) para atraer publicidad dirigida en nuestros intereses legítimos, incluida la transferencia de dichos datos a los anunciantes. En la configuración de seguridad de su dispositivo, también tiene la capacidad de prevenir o restringir los identificadores de dispositivos que se compartirán con anunciantes de terceros y cómo se utilizan estos identificadores.</p>
<p>Usamos el protocolo de seguridad SSL. El Comerciante no venderá, comprará, proporcionará, intercambiará ni divulgará datos de Cuenta o Transacción, ni información personal o información sobre el Titular de la Tarjeta a nadie que no sea el Adquiriente, Visa / Mastercard Corporation (u otros sistemas de pago usados) o en respuesta a demandas del gobierno.</p>
<p>También queremos mantenernos en contacto contigo para informarte sobre nuestras promociones y ofertas. Si está de acuerdo con esto, utilizaremos su dirección de correo electrónico para enviarle dicha información. Puede cambiar de opinión en cualquier momento en la Configuración del servicio o en www.Flirtu.io.</p>

<h3>¿QUÉ DATOS SE RECOPILAN SOBRE MÍ SI USO LA APLICACIÓN DE TELEGRAMA MÓVIL O DE ESCRITORIO?
</h3>

<p>Estés donde estés, con Flirtu tienes la oportunidad de conectarte con tus amigos, hacer nuevas amistades, así como mantenerte en contacto con tus contactos que has adquirido con nuestro servicio. Puede hacer esto usando un teléfono móvil o una versión de escritorio de la aplicación Telegram.</p>
<p>Si tiene la detección de ubicación habilitada pero desea deshabilitarla, puede hacerlo en la configuración del sistema de su dispositivo.</p>
<p>Nosotros y nuestros anunciantes asociados también podemos almacenar y utilizar su ID de dispositivo para mostrarle anuncios dirigidos en la aplicación. Puede optar por no proporcionar datos a terceros, pero aún verá anuncios genéricos en la aplicación.</p>

<h3>¿CUÁNTO TIEMPO TIENE FLIRTU ALMACENAR MIS DATOS?
</h3>
<p>Si no usa su cuenta durante 24 meses, su perfil y cualquier dato serán eliminados. Cuando solicita la eliminación de su perfil, se elimina por completo dentro de las 48 horas posteriores al día.</p>
<p>Es posible que la correspondencia con nuestro equipo de soporte se mantenga por más tiempo para que podamos usarla para cualquier consulta posterior que pueda surgir. Esta correspondencia se elimina después de 3 años en ausencia de solicitudes.</p>
<p>La información anónima sobre la actividad en Flirtu se almacena durante más tiempo para los datos estadísticos y la investigación de mercado, pero no se asocia contigo después de que eliminas el perfil, es decir, se vuelve anónima. Esto se debe al hecho de que Flirtu se esfuerza por desarrollar sus servicios y oportunidades para una comunicación más conveniente y ese período está justificado por nuestro interés legítimo.</p>
<p>La información como la información de facturación, las direcciones IP, los números de teléfono móvil y las direcciones de correo electrónico se retiene para combatir el fraude y el spam siempre que sea relevante. Por lo general, este período está determinado por el período de validez del método de pago.</p>
<h3>¿QUÉ INFORMACIÓN RECOGE FLIRTU SOBRE MÍ SI NO TENGO 18 AÑOS?

</h3>
<p>Flirtu no recopila a sabiendas ninguna información sobre menores. No contratamos ni fomentamos el uso de nuestro servicio por personas menores de edad. Si nos damos cuenta del registro de un usuario antes de la mayoría de edad, establecida por la ley del país de residencia del ciudadano de la UE, y del suministro de sus datos personales, tomaremos medidas para eliminar dicho perfil y cualquier información al respecto de Flirtu. Si eliminamos su perfil porque violó nuestra regla de edad mínima, podemos almacenar su correo electrónico y direcciones IP para que no intente eludir nuestras reglas creando una nueva. </p>
<h3>¿QUÉ INFORMACIÓN RECOGE FLIRTU SOBRE MIS AMIGOS Y CONTACTOS?





</h3>
<p>Puedes invitar a tus amigos a unirse a Flirtu para que ellos también puedan conocer gente nueva. Si desea invitar a sus amigos y conocidos a unirse a Flirtu, podemos enviarles una invitación en su nombre por correo electrónico o SMS (si está utilizando una aplicación para Android o iPhone). Si algunos de los invitados no se registran unos días después de la invitación, podemos enviarles un recordatorio de su invitación. Puedes invitar a todos tus amigos o solo a algunos de ellos, pero recuerda la edad mínima en Flirtu. Usted es responsable de asegurarse de que sus amigos estén de acuerdo en recibir invitaciones.</p>
<p>No vendemos estos contactos ni los utilizamos para enviar ningún mensaje que no sea una invitación. Un amigo que conoces puede contactar a Flirtu y solicitar que su información sea eliminada de nuestra base de datos escribiendo a <a href="https://
t.me/flirtu_support">@Flirtu_support</a>. Dicha solicitud solo se aplicará a las direcciones y números de teléfono que recibamos en el momento de la solicitud, y no a las direcciones proporcionadas más adelante.</p>
<h3>¿CON QUIÉN COMPARTE FLIRTU MIS DATOS?










</h3>
<p>
Podemos proporcionar a terceros, como procesadores de pagos, anunciantes, servicios postales, información agregada que incluye sus datos personales (pero que no lo identifican directamente) junto con otra información, incluidos datos de terceros, para análisis demográfico y de mercado en orden. para mostrar anuncios relevantes sobre otros productos y servicios.
</p>
<p>Compartimos sus datos con las siguientes categorías de terceros:</p>
<ul>
    <li>1. Empresas de TI (hardware y software) que brindan capacidad y otros servicios para respaldar nuestros productos.</li>
    <li>2. Servicios de prevención de fraude y anti-spam para proteger el servicio de la actividad delictiva.</li>
    <li>3. Moderadores que rastrean la actividad en el sitio y en las aplicaciones para verificar el contenido.</li>
    <li>4. Socios publicitarios y proveedores de publicidad dirigida.</li>
    <li>5. Agencias de aplicación de la ley, si es necesario para proporcionar datos de acuerdo con la ley, así como para proteger la vida.</li>
    <li>6. Empresas de pago y telecomunicaciones para pagar nuestros servicios premium.
Nos aseguramos de que estas partes actúen de acuerdo con las disposiciones de privacidad y protección de datos establecidas en esta Política. Hacemos todo lo posible para garantizar que todos los datos permanezcan lo más anónimos posible.</li>
</ul>
<p>En el caso de que Flirtu o cualquiera de nuestros socios que sean legalmente propietarios de sus datos transfiera negocios o cambie de propiedad, por ejemplo, debido a una adquisición o fusión, reorganización o venta de la totalidad o parte de los activos, o en caso de insolvencia, nosotros se le puede solicitar que revele su información personal.</p>
<h3>TUS DERECHOS














</h3>
<p>Tiene derecho a presentar una reclamación ante las autoridades de protección de datos. La oficina autorizada de Flirtu se encuentra en Kr.Valdemara 21, Riga, LV1010, Letonia.</p>
<p>Tiene una serie de derechos según la ley europea de protección de datos si es ciudadano de la UE.</p>
<ul>
    <li>1. Derecho a la información: qué datos personales procesa la organización y por qué (este es un aviso).</li>
    <li>2. Derecho de acceso: puede solicitar una copia de sus datos o cargarlos en uno de los formatos sugeridos en la configuración de su perfil.</li>
    <li>3. Derecho de rectificación: si los datos se almacenan incorrectamente, siempre podrá corregirlos.</li>
    <li>4. Derecho a borrar: Tiene derecho a borrar datos en determinadas circunstancias.</li>
    <li>5. Derecho a la restricción del procesamiento: en algunas circunstancias, tiene derecho a solicitar la terminación del procesamiento, pero el almacenamiento continuo de datos..</li>
    <li>6. Derecho a la portabilidad de los datos: puede solicitar una copia de sus datos en un formato legible por máquina, que puede ser transferida a otro proveedor.</li>
    <li>7. Derecho a oponerse: en determinadas circunstancias (incluso cuando los datos se procesan en función de intereses legítimos o con fines de marketing), puede oponerse a dicho procesamiento.</li>
    <li>8. Derechos relacionados con la toma de decisiones automatizada, incluida la elaboración de perfiles: hay varios derechos en esta área relacionados con el hecho de que el procesamiento llevado a cabo de forma puramente automatizada puede conducir a una decisión que tiene consecuencias legales y otras consecuencias humanas importantes. En tales circunstancias, sus derechos incluyen el derecho a la intervención humana en el proceso de toma de decisiones.</li>
    <p>Si desea ejercer alguno de los derechos enumerados anteriormente, escríbanos a
    <a href="https://
t.me/flirtu_support">@Flirtu_support</a> .</p>
</ul>
<h3>¿CÓMO PROTEGE FLIRTU MIS DATOS PERSONALES?



</h3>
<p>Flirtu toma las medidas de seguridad necesarias para proteger y prevenir la pérdida, mal uso y alteración de la información bajo nuestro control, incluyendo sus datos personales. Nuestros técnicos trabajan constantemente para mantener Flirtu seguro y protegido.</p>
<p>Tomamos precauciones razonables contra posibles violaciones de seguridad de nuestras aplicaciones, sitio web, base de datos de usuarios; sin embargo, ninguna aplicación, sitio web o transmisión de datos a través de Internet es completamente segura y no podemos garantizar que nunca se produzcan accesos no autorizados, piratería, pérdida de datos u otras violaciones. . Si pierde la contraseña de su cuenta de Telegram o la transfiere a terceros, o en caso de fuga de datos en otros servicios que utiliza, si sus credenciales en estos servicios coinciden con sus credenciales en Flirtu, sus datos personales estarán en la zona de riesgo. Si esto sucede, comuníquese con nuestro equipo de soporte al.</p>
<h3>¿DÓNDE SE ALMACENAN MIS DATOS PERSONALES?


</h3>
<p>Para garantizar el buen funcionamiento de nuestro servicio y para que siempre pueda estar en contacto con sus amigos, utilizamos una red de servidores, incluidos los de fuera de la Unión Europea. Los datos recopilados por nuestros socios publicitarios también pueden almacenarse fuera del Espacio Económico Europeo. Nos aseguramos de que los datos estén adecuadamente protegidos y de que se respeten los marcos legales aplicables, tanto los aprobados por la UE como los países donde se encuentra el software y hardware de protección de la privacidad, y se implementan fuertes estándares contractuales. Si desea obtener más información sobre nuestras medidas de protección, escríbanos a <a href="https://
t.me/flirtu_support">@Flirtu_support</a></p>
<h3>
  ¿FLIRTU RECOGE ALGO DE MIS DATOS PERSONALES?



</h3>
<p>Si se comunica con nuestro equipo de soporte escribiendo a <a href="https://
t.me/flirtu_support">@Flirtu_support</a>, recibiremos su número de teléfono y / o el nombre de usuario de su cuenta de Telegram para ayudarlo a resolver su problema. Mantendremos un registro de nuestra correspondencia con usted, incluidas las quejas que recibamos de usted sobre otros usuarios (y de otros usuarios sobre usted) durante 3 años después de que se elimine su cuenta.</p>
<h3>
   ¿CON QUÉ FINALIDADES FLIRTU UTILIZA MIS DATOS PERSONALES?




</h3>
<p>Podemos utilizar el contenido que publica al público en Flirtu con fines publicitarios en nuestros sitios web y aplicaciones asociados. Es nuestro interés legítimo mejorar el servicio y hacerlo más atractivo para los usuarios.
</p>
<p>Usamos su información personal para resolver disputas, solucionar problemas y hacer cumplir nuestros Términos de servicio..</p>
<h3>
    ¿QUÉ SON LAS COOKIES Y QUÉ COOKIES UTILIZA FLIRTU?








</h3>
<p>Recopilamos información colocando cookies en una computadora o teléfono móvil. Una cookie es un fragmento de texto almacenado en su dispositivo por su navegador web. Una cookie almacena información sobre la visita a un sitio web, lo reconoce a usted y sus preferencias cada vez que visita Flirtu, y proporciona la funcionalidad del sitio web, lo que nos permite brindar servicios a nuestros usuarios cuando lo soliciten.</p>
<p>Cuando visita Flirtu, utilizamos cookies para guardar su sesión. Las cookies de sesión se eliminan cuando cierra su navegador. También estableceremos cookies persistentes (también conocidas como almacenamiento local) en las computadoras de los usuarios para que Flirtu recuerde a los usuarios y haga que el proceso de inicio de sesión del usuario sea más rápido y fácil. Podemos utilizar cookies persistentes en su dispositivo móvil principalmente con fines de seguridad, como prevenir el phishing, proteger contra estafadores, intentos de inicio de sesión no autorizados y ayudarlo a obtener acceso si su cuenta ha sido pirateada. No usamos la información después de cerrar la sesión.</p>
<p>En la configuración de su navegador o dispositivo móvil, puede bloquear las cookies y el funcionamiento de los dispositivos de almacenamiento local, pero una vez realizado dicho bloqueo, no podrá utilizar las funciones de Flirtu.</p>
<h3>PRINCIPALES CATEGORÍAS DE TECNOLOGÍA UTILIZADAS POR FLIRTU:</h3>
<ul>
    <li>tecnologías que admiten la funcionalidad necesaria para proporcionar productos y servicios, como una "Cuenta Premium"
</li>
    <li>tecnologías necesarias para analizar los productos y servicios de la aplicación y el sitio web de Flirtu, incluso para garantizar que la experiencia de uso del sitio web sea agradable</li>
    <li>cookies relacionadas con la funcionalidad del sitio web de Flirtu, como recordar sus preferencias de inicio de sesión o el idioma requerido, o tecnologías que le permiten agregar fotos;</li>
    <li>Cookies de terceros, que también hacen referencia a enlaces a otras redes sociales y que solicita a través de complementos sociales, y</li>
    <li>cookies utilizadas para mejorar la calidad de la publicidad dirigida que se le ofrece en función de sus preferencias, así como para mejorar la calidad de los análisis de las campañas publicitarias y para evitar volver a mostrar materiales publicitarios que ya haya visto</li>
</ul>
<p>El uso de cookies y almacenamiento local le permite a Flirtu aprender más sobre usted y sus intereses para que pueda hacer lo que quiera en línea, como chatear con gente nueva, compartir su contenido o comprar una cuenta Premium y moneda local sabiendo que sus datos será segura. En la siguiente tabla explicamos en detalle sobre las cookies y su uso en <a href="https://
t.me/flirtu_support">@Flirtu_support</a>.</p>

<div class="template-table">
    <div class="template-table-item template-table-item--header">
        <div class="template-table-col template-table-col--name">
             Funciones de cookies
        </div>
        <div class="template-table-col">
          Finalidad de las cookies
        </div>

    </div>

    <div class="template-table-item">
        <div class="template-table-col template-table-col--name">
           Actividades analíticas y de investigación
        </div>
        <div class="template-table-col">
          Flirtu utiliza Google Analytics para recopilar información sobre cómo los visitantes utilizan el sitio web de Flirtu. Usamos esta información para compilar informes y ayudarnos a mejorar el sitio. Las cookies recopilan información de forma anónima, incluida la cantidad de visitantes al sitio, de dónde provienen estos visitantes y qué páginas visitaron. Para obtener más información sobre la política de privacidad de Google, visite <a href="https://www.google.com/intl/en/policies/">https://www.google.com /intl/en/policies/</a>
        </div>

    </div>

    <div class="template-table-item">
        <div class="template-table-col template-table-col--name">
            Autenticación
        </div>
        <div class="template-table-col">
            Estas cookies nos ayudan a identificar a nuestros usuarios y con su ayuda podemos proporcionarle, cuando está en línea, características y funciones relevantes, por ejemplo: cargar fotos, chatear, así como localización: la información en las cookies nos permite mostrarle Flirtu en el idioma de tu región (si le pediste a Flirtu que te "recuerde"). Estas tecnologías también almacenan información sobre quién te invitó a Flirtu.
        </div>

    </div>

    <div class="template-table-item">
        <div class="template-table-col template-table-col--name">
             Seguridad, rendimiento del sitio
        </div>
        <div class="template-table-col">
           Seguridad, rendimiento del sitio Utilizamos cookies y otras herramientas como CAPTCHA para mantener Flirtu seguro para nuestros usuarios. Estas tecnologías admiten funciones de seguridad, protegiendo a los usuarios de Flirtu del spam y el fraude al mantener segura su información personal cuando compra servicios como Flirtu Premium de Flirtu.

Podemos utilizar cookies de persistencia del cliente para ayudarnos a identificar el dispositivo desde el que se inicia sesión en la aplicación, evitando que usuarios no autorizados accedan a su cuenta. Este tipo de cookie también ayuda a combatir el spam, el fraude, el phishing y los intentos no autorizados de iniciar sesión en su cuenta y acceder a las cuentas comprometidas.
Estas cookies y dispositivos de almacenamiento local admiten la funcionalidad necesaria para proporcionar productos y servicios de Flirtu. Por ejemplo, la capacidad de cargar fotos, intercambiar mensajes, cambiar la configuración de su cuenta y sus criterios de búsqueda, establecer Flirtu como su página de inicio. También utilizamos estas tecnologías para proporcionar complementos sociales para que pueda compartir su contenido en otras redes sociales. En algunos casos, la aplicación o función del sitio que elija puede permitir el acceso de terceros, colocar cookies o dispositivos de almacenamiento local en su computadora. Los terceros que colocan cookies en su dispositivo son responsables de cómo manejan sus datos y Flirtu lo alienta a leer sus políticas de privacidad. A continuación, se muestran los terceros que colocan cookies en su dispositivo cuando usa Flirtu y proporcionan enlaces a sus políticas de privacidad:

        </div>

    </div>

    <div class="template-table-item">
        <div class="template-table-col template-table-col--name">
            Funciones y servicios del sitio
        </div>
        <div class="template-table-col">
            <ul>
                <li>Twitter, <a href="https://twitter.com/privacy">https://twitter.com/privacy</a></li>
                <li>Facebook, <a href="https://en-gb.facebook.com/policy.php">https://en-gb.facebook.com/policy.php</a></li>
                <li>YouTube, <a href="https://www.google.co.uk/intl/en/policies/privacy/">https://www.google.co.uk/intl/en/ policies/privacy/</a></li>
                <li> VK.COM, <a href="https://vk.com/privacy ">https://vk.com/privacy </a></li>
                <li>OK.RU,<a href="https://ok.ru/privacy"> https://ok.ru/privacy</a></li>
            </ul>



        </div>

    </div>

<div class="template-table-item">
        <div class="template-table-col template-table-col--name">
           Rendimiento
        </div>
        <div class="template-table-col">

         Usamos cookies y dispositivos de almacenamiento local para asegurarnos de que disfrute de nuestro sitio. Con estas tecnologías, enrutamos el tráfico de red entre servidores, determinamos la velocidad a la que se cargan las páginas y optimizamos la velocidad de las solicitudes de los servicios de Flirtu.

        </div>

    </div>


</div>

<p>Las cookies que usamos y los dispositivos de almacenamiento local que usamos, incluidos los nombres de las cookies, pueden cambiar con el tiempo, pero generalmente pertenecen a las categorías descritas anteriormente. Le notificaremos de cualquier cambio importante en nuestra política de cookies y almacenamiento local. Si desea obtener más información sobre las cookies, incluidas las cookies flash / dispositivos de almacenamiento local, los siguientes sitios brindan información útil:</p>

<ul>
    <li><a href="www.allaboutcookies.org">
        www.allaboutcookies.org
    </a></li>
    <li><a href="www.youronlinechoices.eu">
        www.youronlinechoices.eu
    </a></li>
    <li><a href="https://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html">
        https://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html
    </a></li>
</ul>
<p>Fecha del último cambio de la Política de Privacidad: 6 de mayo de 2021.</p>

    </div>
</div>

{% endblock %}