{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
         <title>Знакомства в Telegram</title>
        <link rel="stylesheet" href="{% static "new-landings/dating1/css/style.min.css" %}" />
                <!-- Facebook Pixel Code -->
        <script>
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '478292439333515');
          fbq('track', 'Landing 1 PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
          src="https://www.facebook.com/tr?id=478292439333515&ev=Landing 1 PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->
    </head>
    <body>
        <!-- --------------start header section------------ -->
        <header class="header">
            <img src="{% static "new-landings/dating1/img/header-bg.png" %}" alt="" />
            <div class="header-content">
                <h1>
                    Знакомства в
                    <span>Telegram</span>
                </h1>
                <a href="http://track.flirtubot.com/click" class="button">
                    Открыть в Telegram
                </a>
            </div>
        </header>
        <!-- -------------------end header section------------------ >

<!-- --------------start about section------------ -->
        <section class="about">
            <div class="about__content">
                <div class="about-title"><span>Оценивайте</span> фото девушек и <span>анонимно общайтесь</span> прямо <span>в Telegram</span></div>

                <div class="about__phone">
                    <img src="{% static "new-landings/dating1/img/phone.png" %}" alt="" />
                    <img src="{% static "new-landings/dating1/img/gif.gif" %}" alt="" class="about__gif" />
                </div>
                <div class="about__steps">
                    <div class="about__step-item">
                        <div class="about__step-num">
                            1
                        </div>
                        <div class="about__step-text"><span>Оценивайте</span> девушек</div>
                    </div>
                    <div class="about__step-item">
                        <div class="about__step-num">
                            2
                        </div>
                        <div class="about__step-text"><span>Общайтесь</span> в Telegram</div>
                    </div>
                    <div class="about__step-item">
                        <div class="about__step-num">
                            3
                        </div>
                        <div class="about__step-text"><span>Находите девушек</span> для флирта, интриги или серьезных отношений</div>
                    </div>
                </div>
            </div>

            <img src="{% static "new-landings/dating1/img/heart.png" %}" alt="" class="about__background" />
        </section>
        <!-- --------------end about section------------ -->

        <!-- ------------------start rule section------------------ -->
        <section class="rule">
            <div class="rule__title"><span>Здесь красивые</span> девушки <span>и успешные</span> парни!</div>
            <a href="http://track.flirtubot.com/click" class="button">
                Открыть в Telegram
            </a>
            <div class="rules__list">
                <div class="rules__item">
                    <div class="rules__icon-wrapper">
                        <div class="rules-icon__circle">
                            <img src="{% static "new-landings/dating1/img/icon1.png" %}" alt="" />
                        </div>
                    </div>
                    <div class="rules__text">
                        <div class="rules__text-num">370,000+</div>
                        <span>Активных</span> пользователей
                    </div>
                </div>
                <div class="rules__item">
                    <div class="rules__icon-wrapper">
                        <div class="rules-icon__circle">
                            <img src="{% static "new-landings/dating1/img/icon5.png" %}" alt="" />
                        </div>
                    </div>
                    <div class="rules__text">
                        Только для взрослых (18+)
                    </div>
                </div>
                <div class="rules__item">
                    <div class="rules__icon-wrapper">
                        <div class="rules-icon__circle">
                            <img src="{% static "new-landings/dating1/img/icon2.png" %}" alt="" />
                        </div>
                    </div>
                    <div class="rules__text">
                        Без регистрации
                    </div>
                </div>
                <div class="rules__item">
                    <div class="rules__icon-wrapper">
                        <div class="rules-icon__circle">
                            <img src="{% static "new-landings/dating1/img/icon3.png" %}" alt="" />
                        </div>
                    </div>
                    <div class="rules__text"><span>100%</span> Анонимно</div>
                </div>
                <div class="rules__item">
                    <div class="rules__icon-wrapper">
                        <div class="rules-icon__circle">
                            <img src="{% static "new-landings/dating1/img/icon4.png" %}" alt="" />
                        </div>
                    </div>
                    <div class="rules__text">
                        <span>Бесплатно</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- --------------------end rule section------------------ -->

        <!---------------------start-video-section-------------------->
        <section class="video">
            <a href="http://track.flirtubot.com/click">
                <img src="{% static "new-landings/dating1/img/video-bg.png" %}" alt="" class="video-image" />
                <img src="{% static "new-landings/dating1/img/play.png" %}" alt="" class="play-button" />
            </a>
        </section>
        <!---------------------end-video-section-------------------->

        <div class="bottom__bg">
            <img src="{% static "new-landings/dating1/img/footer-bg.png" %}" alt="" />
        </div>
    </body>
</html>
