{% load i18n static %}
<div class="top-header">
  <div class="container-fluid">
     <div class="header__logo">
            <a href="/">
              <span class="logo-img">
                <img src="//d33tflfwlj5scn.cloudfront.net{% static 'assets/img/logo.svg' %}" alt="">
              </span>
              Flirtu Dating

            </a>
        </div>

        <div class="header__right">

          <div class="header__menu">
<ul>
  <li><a href="{% url "about_us" %}" target="_blank">{% trans 'О нас' %}</a></li>
  <li> <a href="{% url "contact_us" %}" target="_blank">{% trans 'Связь с нами' %}</a></li>
  <li class="sub-menu-link"> <span>{% trans 'Поддержка' %}<img src="//d33tflfwlj5scn.cloudfront.net{% static 'assets/img/down-black.svg' %}" alt=""></span>

    <div class="sub-menu-content">

      <a href="{% url 'faq' %}" target="_blank">{% trans 'Вопросы о Flirtu' %}</a>

      <a href="https://t.me/flirtu_support" target="_blank">
        {% trans 'Помощь' %}
    </a>

    </div>
  </li>
</ul>
          </div>
          <div class="button button--sign-up">
            <a href="">
              {% trans 'Регистрация' %}
            </a>
          </div>
          {% include "lang-switcher.html" %}
        </div>

  </div>

</div>