{% load i18n static %}
<div class="top-header">
  <div class="container-fluid">
     <div class="header__logo">
            <a href="/">
              <span class="logo-img">
                <img src="//d33tflfwlj5scn.cloudfront.net{% static 'assets/img/logo.svg' %}" alt="">
              </span>
              Flirtu Dating

            </a>
        </div>

        <div class="header__right">

          <div class="header__menu">
<ul>
  <li><a href="{% url "about_us" %}"  >{% trans "О нас" %}</a></li>
  <li> <a href="{% url "contact_us" %}">{% trans "Связь с нами" %}</a></li>
  <li class="sub-menu-link"> <span> {% trans "Помощь" %}<img src="//d33tflfwlj5scn.cloudfront.net{% static 'assets/img/down-black.svg' %}" alt=""></span>

    <div class="sub-menu-content">

      <a href="{% url 'faq' %}">{% trans 'Вопросы о Flirtu' %}</a>

      <a href="https://t.me/flirtu_support" target="_blank">
        {% trans 'Помощь пользователю' %}
    </a>

    </div>
  </li>
</ul>
          </div>
          <div class="button button--sign-up">
            <a href="{% url 'launch_bot' %}{% if query_string %}?{{ query_string }}{% endif %}">{% trans "Регистрация" %}</a>
          </div>
          {% include "lang-switcher.html" %}

          <div class="menu-btn">
          <div class="menu-row"></div>
          <div class="menu-row"></div>
          <div class="menu-row"></div>
        </div>
        </div>

  </div>

</div>
