{% load i18n cstatic thumbnail %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dating on Telegram Messenger">
    <meta name="keywords" content="flirtu dating telegram messenger free" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title> {% trans 'Знакомства в Telegram' %} {% block title %} {% endblock %} </title>
    <link rel="prefetch" href="{% static 'assets/css/libs.min.css' %}" as="style" />
    <link rel="prefetch" href="{% static 'assets/css/style.min.css' %}" as="style" />
    <link rel="stylesheet" href="{% static 'assets/css/libs.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/img/fav.ico' %}" type="image/x-icon">
        <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '478292439333515');
      fbq('track', 'Main PageView')
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=478292439333515&ev=Main PageView&noscript=1" alt="facebook"
    /></noscript>
    <!-- End Facebook Pixel Code -->
    <link rel="preload" href="{% static 'assets/img/img1.png' %}" as="image">


    <!-- Global site tag (gtag.js) - Google Ads: 965766452 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-965766452"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-965766452');
</script>
<!-- Event snippet for Flirtu Page view conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-965766452/yn2FCNm07P0BELTawcwD'});
</script>
</head>
<body>
<!-- ---------------start header------------- -->
{% include "header.html" %}
<!-- end header -->

<header class="header">
    <div class="slider">
           <div class="items_slider">
            </div>
        </div>

    <div class="header__title">
        {% trans 'Знакомства внутри Telegram Messenger' %}
    </div>
    <h1>{% blocktrans %}Оценивайте фото людей поблизости от Вас <br>
и при взаимной симпатии - общайтесь <br>
напрямую прямо в Telegram.{% endblocktrans %}</h1>
    <div class="button">
        <a href="{% url 'launch_bot' %}{% if query_string %}?{{ query_string }}{% endif %}">{% trans 'Начать знакомиться в Telegram' %}</a>
    </div>
    <div class="header__text">
            {% trans '🔐 100% Бесплатно и Анонимно' %}
        </div>


        <img src="{% static 'assets/img/bg-h.png' %}" alt="background" class="header__line header__line--desc">

         <img src="{% static 'assets/img/mob.svg' %}" alt="background" class="header__line header__line--mob">
  
</header>


<!-- ---------------start content------------- -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 content__item-image-wrapper">
                <div class="content__item content__item-image">
                    <img src="{% static 'assets/img/img1.png' %}" alt="photo illustration">
                </div>
            </div>
            <div class="col-md-6 content__item-text-wrapper">
                <div class="content__item content__item-text">
                    <h2>{% trans 'Выбирайте' %}</h2>
                    <div class="content__text">
                      {% trans 'Просматривайте профили пользоватилей, отмечайте симпатии и дарите запоминающиеся подарки!' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 content__item-text-wrapper">
                <div class="content__item content__item-text">
                    <h2>{% trans 'Общайтесь' %}</h2>
                    <div class="content__text">
                        {% trans 'При взаимной симпатии произойдет СОВПАДЕНИЕ! Это означает что c этого момента можно переходить в приватную беседу!' %}
                    </div>
                </div>
   
            </div>
            <div class="col-md-6 content__item-image-wrapper">
                <div class="content__item content__item-image">
                    <img src="{% static 'assets/img/new-screen.png' %}" alt="phone screen">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 content__item-image-wrapper">
                <div class="content__item content__item-image">
                    <img src="{% static 'assets/img/img3.png' %}" alt="illustration">
                </div>
            </div>
            <div class="col-md-6 content__item-text-wrapper">
                <div class="content__item content__item-text">
                    <h2 class="title--s">{% trans 'Новые Знакомства <br> в Вашем Городе' %}</h2>
                    <div class="content__text">
                        {% trans 'Flirtu не показывает вашего точного местоположения, но помогает вам завести новые знакомства с людьми поблизости.' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 content__item-text-wrapper">
                <div class="content__item content__item-text content-item-text--bottom">
                    <h2 class="">{% trans 'Знакомства по Интересам' %}</h2>
                    <div class="content__text">
                        {% trans 'Чем больше интересов вы укажете, тем больше людей вас заметит и тем выше шанс познакомиться с кем-то, кто разделяет ваши интересы.' %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 content__item-image-wrapper">
                <div class="content__item content__item-image">
                    <img src="{% static 'assets/img/img4.png' %}" alt="illustration" class="no-margin">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ---------------end content------------- -->

<!-- start bages section -->
<section class="bages">
    <div class="container-fluid">
        <div class="bages-wrapper">
            <div class="bage-item">
                <img src="{% static 'assets/img/1bage.png' %}" alt="">
            </div>
            <div class="bage-item">
               <img src="{% static 'assets/img/4bage.png' %}" alt="">
            </div>
            <div class="bage-item">
               <img src="{% static 'assets/img/3bage.png' %}" alt="">
            </div>
            <div class="bage-item">
               <img src="{% static 'assets/img/2bage.png' %}" alt="">
            </div>
        </div>
    </div>
</section>
<!-- end bages section -->



<!-- ---------------start footer------------- -->
    {% include "footer.html" %}
<!-- ---------------end footer------------- -->

{% if not prevent_cookie_policy_to_be_shown %}
<!-- start cookis modal -->
<div class="cookis-modal">
    <div class="cookis__content">
       <div class="cookis__container">

           <div class="cookis__left">
               <div class="cookis__text cookis__text--bold">
                {% trans 'Мы используем файлы cookie для улучшения содержания <br> и предложений на нашем сайте.' %}
               </div>
               <div class="cookis__text">
                  {% trans 'Узнайте больше о нашей политике в отношении файлов cookie ' %}<a target="_blank" href="{% url 'privacy' %}">
                  {% trans 'здесь' %}</a>
               </div>
           </div>

           <div class="cookis__right">
              <div class="accept__cookis">
                 {% trans 'Принять все файлы cookies'  %}
              </div>

              <div class="cookis__setting">
                  {% trans 'Настройки Cookies'  %}
              </div>
           </div>

           <div class="cookis__setting-content">

              <div class="cookis__setting-header">
                  <div class="cookis__setting-header-title">
                      {% trans 'Настройки Cookies' %}
                  </div>

                  <div class="cookis__setting-close">
                      <svg height="329pt" viewBox="0 0 329.26933 329" width="329pt" xmlns="http://www.w3.org/2000/svg"><path d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"/></svg>
                  </div>
              </div>

              <div class="cookis__setting-item">
                  <div class="checkbox__row">
                      <div class="checkbox__wrapper">
                          <input type="checkbox" id="1" class="checkbox" checked disabled="">
                          <label for="1" class="checkbox-square"></label>
                          <label for="1" class="checkbox-text">{% trans 'Hеобходимые' %}</label>
                      </div>
                  </div>

                  <p>{% trans 'Эти файлы cookie необходимы для работы веб-сайта и не могут быть отключены в наших системах. Обычно они устанавливаются только в ответ на ваши действия, которые равносильны запросу на услуги, например, установка ваших настроек конфиденциальности, вход в систему или заполнение форм.'  %}</p>
              </div>

               <div class="cookis__setting-item">
                  <div class="checkbox__row">
                      <div class="checkbox__wrapper">
                          <input type="checkbox" id="2" class="checkbox" checked>
                          <label for="2" class="checkbox-square"></label>
                          <label for="2" class="checkbox-text">{% trans 'Предпочтительные' %}</label>
                      </div>
                  </div>

                  <p>{% trans 'Эти файлы cookie позволяют веб-сайту предоставлять расширенные функциональные возможности и персонализацию. Они могут быть установлены нами или сторонними поставщиками, услуги которых мы добавили на наши страницы.' %}</p>
              </div>

               <div class="cookis__setting-item">
                  <div class="checkbox__row">
                      <div class="checkbox__wrapper">
                          <input type="checkbox" id="3" class="checkbox" checked>
                          <label for="3" class="checkbox-square"></label>
                          <label for="3" class="checkbox-text">{% trans 'Статистика' %}</label>
                      </div>
                  </div>

                  <p>{% trans 'Эти файлы cookie позволяют нам подсчитывать посещения и источники трафика, чтобы мы могли измерять и улучшать производительность нашего сайта. Они помогают нам понять, как используются страницы и как посетители перемещаются по сайту.' %}</p>
              </div>

               <div class="cookis__setting-item">
                  <div class="checkbox__row">
                      <div class="checkbox__wrapper">
                          <input type="checkbox" id="3" class="checkbox" checked>
                          <label for="3" class="checkbox-square"></label>
                          <label for="3" class="checkbox-text">{% trans 'Маркетинг' %}</label>
                      </div>
                  </div>

                  <p>{% trans 'Эти файлы cookie могут быть установлены нашими рекламными партнерами. Они могут использовать файлы cookie для создания профиля ваших интересов и показа релевантной рекламы на других сайтах.' %} </p>
              </div>

              <div class="cookis__setting-button">
                 {% trans 'Сохранить' %}
              </div>

           </div>
       </div>
    </div>
</div>
<!-- coocis cookis modal -->
{% endif %}



<a href="https://t.me/Flirtu_bot?start=website-QZ4NZUHXKaXuCckjk75odP" class="fix-button">
  <img src="{% static 'assets/img/telegram.svg' %}" alt="background" class="">  Dating on Telegram
</a>
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

</html>