{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% trans 'Знакомства в Telegram' %}</title>
    <link rel="stylesheet" href="//d33tflfwlj5scn.cloudfront.net{% static "web-payments/css/libs.min.css" %}">
	<link rel="stylesheet" href="//d33tflfwlj5scn.cloudfront.net{% static "web-payments/css/style.min.css" %}">
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '478292439333515');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=478292439333515&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body>
<!-- ----------start header----------- -->
<div class="header">
	<div class="container">
		<div class="logo">
		<a href="/">
			<img src="//d33tflfwlj5scn.cloudfront.net{% static "web-payments/img/logo.svg" %}" alt="">
			<h1>{% trans 'Знакомства в Telegram' %}</h1>
			
		</a>
	</div>
	</div>	
</div>
<!-- -----------end header------------- -->

<!-- --------------start content------------ -->
<div class="content premium-wrapper success-wrapper">
	<div class="container">
		
		<h2>
			{% trans '🥳 Спасибо за покупку! 🎉' %}
		</h2>
		<div class="sub-title te">
		{% trans 'Поздравляем, ваша покупка успешно совершена.' %}
		</div>
		<div class="sub-title text-wrapper">
			{% trans 'Пожалуйста, вернитесь в приложение Telegram.' %}
		</div>


	</div>
	
</div>

<div class="next-button-wrapper">
	<div class="button button--blue">
            <a href="https://telegram.me/Flirtu_bot">{% trans 'Открыть в Telegram' %}</a>

        </div>
</div>

<!-- --------------end content----------- -->
</body>
</html>