{% load i18n cstatic thumbnail %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title> {% trans 'Знакомства в Telegram' %} {% block title %} {% endblock %} </title>
    <link rel="prefetch" href="{% static 'assets/css/libs.min.css' %}" as="style" />
    <link rel="prefetch" href="{% static 'assets/css/style.min.css' %}" as="style" />
    <link rel="stylesheet" href="{% static 'assets/css/libs.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/img/fav.ico' %}" type="image/x-icon">
</head>
<body class="page">

<!-- start header -->
{% include "header.html" %} 
<!-- end header -->

  <!-----------------start template content-------------------- -->
{% block content %}{% endblock %}
<!-- ------------------------end template content---------------------- -->

<!-- ---------------start footer------------- -->
    {% include "footer.html" %} 
<!-- ---------------end footer------------- -->

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
{% endblock %}
</body>

</html>