

.menu_block {
	margin-top: 34px;
	margin-bottom: 22px;
	background: url(../images/nav_bg.png) 0 100% repeat-x #e5ddce;
}

.menu_block.pb0 {
	margin-bottom: 0;
}

.menu_block>nav {

}

nav{ position:relative;padding: 0px 0 0 0;}
.sf-menu ul {position:absolute;top:-999px; display:none;/* left offset of submenus need to match (see below) */}
.sf-menu li {float:left;position:relative}
.sf-menu>li {
	text-align: center;	
	background: url(../images/menu_separator.png) 0 0 no-repeat;
	border-bottom: 10px solid transparent;

}

.sf-menu>li:first-child{
  margin: 0;	
  background: none;
}


.sf-menu>li>ul>li {
  float: none;
  	
}


.sf-menu>li>a{position:relative; color: #6e6b65; padding: 38px 30px 37px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 15px; line-height: 18px; display: block;}
.sf-menu>li>a:hover,.sf-menu>li.current>a,.sf-menu>li.sfHover>a{ 
	color: #f9f0df; 
	background: #3c2e52;

}

.sf-menu>li:hover,.sf-menu>li.current,.sf-menu>li.sfHover{  
border-bottom: 10px solid #eb7e8d;
}


.sf-menu>li>a>span {
	position: absolute;
	content: '';
	left: 50%;
	margin-left: -2px;
	width: 5px;
	background: url(../images/arrows.png) no-repeat 0 bottom;
	height: 3px;
	top: 68px
}

.sf-menu>li>a:hover>span, .sf-menu>li.current>a>span , .sf-menu>li.sfHover>a>span  {
	background-position: 0 top;	
}

.sf-menu>li>ul>li>a>span {
	position: absolute;
	content: '';
	right: 20px;
	width: 3px;
	background: url(../images/arrows.png) no-repeat -5px 0 ;
	height: 5px;
	top: 9px;	
}

.sf-menu>li>ul>li>a:hover>span, .sf-menu>li>ul>li.current>a>span , .sf-menu>li>ul>li.sfHover>a>span  {
	background-position: right 0;
}
	


.sf-menu a{font-size: 16px; line-height: 21px; color:#fffefe;}

/*================================>> 2 Level <<========================================*/
.sf-menu li ul,.sf-menu li.sfHover>ul{margin-top: 94px; width: 159px;  top:0px; padding:30px 0 33px; z-index:99;   background:#3c2e52;}
.sf-menu li ul li{text-align: center; float: none !important; margin-bottom: 6px;}

.sf-menu li ul li a{display: block; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 15px; line-height: 18px; color: #f9f0df; padding: 2px 0 4px 0px; text-transform: none;}

.sf-menu li li a:hover, .sf-menu li.sfHover li.sfHover>a{ background-color: #f7eb83; color: #3c2e52;}

/*================================>> 3 Level <<========================================*/
.sf-menu li li ul{left:160px !important;top: 0px !important; margin-top: 0 !important; }
/*========
.sf-menu li li ul li {
	padding-left: 24px;	
}

.sf-menu li li ul li:first-child {
	margin: 0 !important;	
}

.sf-menu li li ul li a {
	color: #9d9d9d !important;
}

.sf-menu li li ul li a:hover {
	color: #4d4d4d !important;	
}======*/

/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 995px) {
	header nav {
		padding-top: 0px !important;	
	}
}
@media only screen and (max-width: 767px) {
	.menu_block {
		float: none !important;
		padding: 0px 0px 30px !important;
		background: none;
		
	}
	.menu_block > nav{
		float:none;
		font:12px/15px Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		color:#4D4D4C;
		background:  none;
		width: 100%;
		margin: 0 auto;
		
	
	}
		nav:before{
			content:'Menu:';
			display:block;
			margin-bottom:5px;
			color: #4D4D4C;
			
		}
	.sf-menu{display:none !important;float: none;}
	nav select{
		font:12px/15px Arial, Helvetica, sans-serif;
		color:#4D4D4C;
		width:100%;
		margin: 0 auto;
		float: none;
    outline: none;
		border:2px solid #C4B9A2;
	}
	
	.search_block {
		padding-bottom: 10px !important;	
	}
}