{% extends "plain-page-base.html" %}
{% block title %} - About us {% endblock %}
{% block content %}

    <div class="template-content">
        <div class="container-fluid">

            <div class="about-content">
                <h2 class="page-title">
                    Flirtu is the largest social discovery network in the world
                </h2>
                <div class="contact-us__sub-title">
                    Our mission is to provide the best technology for people to meet, because happines is better shared
                </div>


                <div class="about-content__text">
                    <p>
                        At Flirtu we believe there is someone for everyone. We have become the largest social discovery
                        network in the world because we have created the best tools to connect people
                    </p>

                    <p>
                        Our many years of experience have given us great insights and experience which has helped us
                        solve major challenges in the social discovery space, especially with issues around privacy,
                        safety and security. This has enabled us to stay ahead of the curve and focus on innovation,
                        pioneering many of today's standard features, like location based matching.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}