{% extends "plain-page-base.html" %}
{% block title %} - About us {% endblock %}
{% block content %}

    <div class="template-content">
        <div class="container-fluid">

            <div class="about-content">
                <h2 class="page-title">
                    Flirtu is the biggest app for dating on Telegram.
                </h2>
                <div class="contact-us__sub-title">
                   Our mission is to provide people with a fast, simple and convenient way to approach dating within the familiar, comfortable bounds of Telegram.

                </div>


                <div class="about-content__text">
                    <p>
                       We here at Flirtu are 100% sure that everyone can find their perfect match! We became the biggest dating app on Telegram because we created the best toolkit for people to use to get in touch.
                    </p>

                    <p>
                     Our team’s experience led us to a slew of amazing ideas that helped us solve some of the most fundamental problems in the world of online dating, particularly those concerning confidentiality and safety. We are always doing our best to innovate and stay one step ahead of the game. 
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}