{% extends "plain-page-base.html" %}
{% block title %} - About us {% endblock %}
{% block content %}

    <div class="template-content">
        <div class="container-fluid">

            <div class="about-content">
                <h2 class="page-title">
                    Flirtu - The Biggest Telegram Dating App
                </h2>
                <div class="contact-us__sub-title">
                   Our mission is to provide people with a convenient, simple and fast
solution for knowledgeable people without going to a convenient messenger
                </div>


                <div class="about-content__text">
                    <p>
                        At Flirtu we are 100% sure that everyone can find
the perfect match! We've become the largest knowledge app
in Telegram, because they were able to create the best tools for
communication of people.
                    </p>

                    <p>
                       The experience of our Team members has given us great ideas that
helped to solve the main problems in the field of social
knowledge, in particular the problems associated with
ĸ confidentiality and security. This allows us to always
stay one step ahead and focus on innovation
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}