{% extends "plain-page-base.html" %}
{% load i18n static thumbnail %}
{% block title %} - Questions about Flirtu {% endblock %}

{% block content %}

    <div class="template-content">
    <div class="container-fluid">
      <h2>Questions about Flirtu</h2>

      <div class="faq__question-list">
        <a href="#1">What is this bot and how does it work?</a>
        <a href="#2">I put ❌ instead of 💚, how can I change my mind?</a>
        <a href="#3">Why can't I chat with those I like right away?</a>
        <a href="#4">Why, after a match, I get a link to a chat, and not a Telegram contact?</a>
        <a href="#5">What are coins and paid services? What are they needed for?</a>
        <a href="#6">How to open the section "You liked"?</a>
        <a href="#7">How do I get coins?</a>
        <a href="#8">How to earn coins (get it for free)?</a>
        <a href="#9">Why am I being forced to pay?</a>
        <a href="#10">How can I meet girls / guys for free?</a>
        <a href="#11">We had a coincidence, I wrote, but they don't answer me - why?</a>
        <a href="#12">Almost nobody likes me, I have few matches - what to do?</a>
        <a href="#13">Why was my photo rejected and my account blocked?</a>
        <a href="#14">At what age can you use the service?</a>
        <a href="#15">How do I delete a profile?</a>
        <a href="#16">My bot control buttons are gone</a>
      </div>
<p>If you did not find the answer to your question here, you can contact the technical support of the service<a href="https://t.me/flirtu_support" target="_blank">@Flirtu_support.</a>
</p>
<p>

Please formulate your question in advance - describe what happened to you, what is the problem and what exactly is not clear to you, if necessary, attach a screenshot of the screen.</p>

<p>Appeals like “everything is bad”, “what to do”, “I don’t understand”, “help me, I’m not working” and others that do not contain a clear description of the problem will not be considered.</p>
<p>
Voice messages and messages sent in secret chat will also not be considered.</p>
      <h3 id="1">What is this bot and how does it work?</h3>
      <p> @Flirtu_bot is a dating service. You push <a href="#1">✳️START ✳️</a> and look through the profiles of those who are also looking for a couple.
Put 💚 on those you like.
When they also give you a 💚, you both will receive a message of 💞mutual sympathy and a чатlink to the chat where you can chat directly.
If you don't want to wait, then you can use <a href="#5">paid services</a>, to increase your popularity or simplify the dating process.</p>

<h3 id="2">I put ❌ instead of 💚, how can I change my mind?</h3>
<p>
  No way. Once a grade has been set, it cannot be changed or canceled.
So, if in doubt, put 💚. You can always stop chatting later)))
</p>

<h3 id="3">
  Why can't I chat with those I like right away?
</h3>
<p>
  Because sympathy should be MUTUAL.
It is not enough that you only bet someone 💚. This person should also rate you 💚.
It doesn't matter who puts 💚 first and who second, the main thing is that you BOTH do it. Only then will you have a match of sympathies, after which both of you will receive a message about 💞 mutual sympathy and 💌 a link to the chat, where you can communicate directly.
</p>

<h3 id="4">Why, after a match, I get a link to a chat, and not a Telegram contact?</h3>
<p>
  Users' contacts are personal information, we cannot distribute them. Only the users themselves can decide to whom to share their contacts and who not.
Chat is an opportunity to chat with the interlocutor and decide if you want to continue the communication and give him your contacts.
</p>

<h3 id="5">What are coins and paid services? What are they needed for?</h3>
<p>
  Coins are the currency of the bot for purchasing / opening additional paid services that can speed up and facilitate the dating process or increase your popularity:
  <p>- 🚀Priority is a feature that promotes your profile to priority display spots for all users, and they see you out of turn. You will immediately notice how your popularity has increased and the number of matches has increased)))</p>
  <p>- 💗You liked - this is the section in which the profiles of ONLY those people who ALREADY liked you are selected. If you don’t want to look at the Start all profiles that match your search conditions, or don’t want to wait until someone you like will see and like you in response - in this section you can choose from those who have already been put to you 💚 and immediately get a match + chat for communication.</p>
  <p>- 🎁Gift is a way to get the attention of your liking and offer him / her your candidacy for evaluation immediately, at the time of sending the gift, and not in the general display. Moreover, if your application was initially rejected, the gift will give your liking an opportunity to change their mind.</p>


<p>- Speeding up the time limit when displaying profiles for those who do not like to wait</p>

</p>

<h3 id="6">
 How to open the section "You liked"?
</h3>
<p>
  The "💗You liked" button is located in the main menu, at the bottom right under the button
  <a href="#1">✳️START ✳️</a>

</p>
  <img src="//d33tflfwlj5scn.cloudfront.net{% static 'assets/img/faq.jpg' %}" alt="" class="faq-img">

<h3 id="7">How do I get coins?</h3>
<p>You need to go to the section 💰Coins. There are detailed instructions on what they can be used for and how to purchase them. Various payment methods are possible.</p>

<h3 id="8">How to earn coins (get it for free)?</h3>
<p>There is currently no such feature. Perhaps she will appear later.</p>

<h3 id="9">Why am I being forced to pay?</h3>
<p>Nobody forces you to pay. All basic functionality required for dating is available for free. And to use <a href="#5"> paid services </a> or not is solely your desire and decision.</p>

<h3 id="10">How can I meet girls / guys for free?</h3>
<p>Push <a href="#1">✳️START ✳️</a>.
There are collected profiles of all users that match your search conditions - both those who have already liked you and those who have not seen you yet. </p>

<h3 id="11">We had a coincidence, I wrote, but they don't answer me - why?</h3>
<p>Only those who do not answer you can answer this question.
Upon receipt of a message, the user receives an audible notification of an incoming message, as well as an indication of unread messages in the buttons of the main menu.
They may not answer for many reasons - perhaps this person is busy now, does not sit constantly in the bot, or has already met someone else.</p>

<h3 id="12">Almost nobody likes me, I have few matches - what to do?</h3>
<p>Make sure that your profile looks attractive and interesting: upload a good, really good selfie, bright, beautiful. Fill out the section "About Me" - write a little about what kind of relationship you are looking for, about your tastes and interests.
You can also use the 🚀Priority function to increase your popularity and show your profile to other users without waiting in line.</p>

<h3 id="13">Why was my photo rejected and my account blocked?</h3>
<p>Because this photo or other profile data does not comply with the rules of the service.
For example - an image or other data of poor quality / does not contain a person / is taken from the Internet / contains addresses or contacts / refers to a person under 18 years of age or a child / contains advertisements or trade offers, etc.</p>

<h3 id="14">At what age can you use the service?</h3>
<p>From 18 years old.</p>

<h3 id="15">How do I delete a profile?</h3>
<p>
Currently, users cannot do this on their own.
To delete a profile, you must contact the technical support of the service at
<a href="https://t.me/flirtu_support" target="_blank">@Flirtu_support.</a>
In the request, you must send a bot message (or a screenshot) with user data, which the bot sends when you enter ⚙️Settings ––> 👤My profile.
Also, please indicate the reason for the deletion - it is very important for us to know this in order to make the service better))
</p>

<h3 id="16">My bot control buttons are gone</h3>
<p>Click here:</p>
<img src="//d33tflfwlj5scn.cloudfront.net{% static 'assets/img/faq2.jpg' %}" alt="" class="faq-img">

<p>If you did not find the answer to your question here, you can contact the technical support of the service <a href="https://t.me/flirtu_support" target="_blank">@Flirtu_support</a>.
</p>
<p>
Please formulate your question in advance - describe what happened to you, what is the problem and what exactly is not clear to you, if necessary, attach a screenshot of the screen.
</p>
<p>
Appeals like “everything is bad”, “what to do”, “I don’t understand”, “help me, I’m not working” and others that do not contain a clear description of the problem will not be considered. </p>
<p>
Voice messages and messages sent in secret chat will also not be considered.
</p>

</div>
</div>

{% endblock %}