{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Знакомства в Telegram</title>
	<link rel="stylesheet" href="{% static 'interstitials/sponsor/css/style.min.css' %}">
    <script data-ad-client="ca-pub-4393657692361081" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
<h1>Спонсоры нашего приложения</h1>
<div class="footer">
	<img src="{% static 'interstitials/sponsor/img/footer-bg.png' %}" alt="" class="footer-bg">
	<div class="counter">
		Чат откроется через
		<span class="counter__val">10</span>
		секунд
	</div>
	<div class="footer-button__wrapper">
		<a href="" class="footer__button active">
		Открыть чат
	</a>
	</div>
</div>
<script src="{% static 'interstitials/sponsor/js/main.js' %}"></script>
</body>
</html>