
/* CSS Document */

/* FlexSlider Necessary Styles
*********************************/

.flex-container a,
.flexslider a,
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

.flex-direction-nav {z-index:8;position:relative}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0 0 0px; padding: 0;background:#000;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}
/* Clearfix for the .slides element */
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
	display: block;
}
.flexslider, .flex-container {
	position: relative;	

}

.flexslider { zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

.flexslider .slides > li {	
	width:20%;
	overflow:hidden;
	position:relative;
	
}

.flexslider .slides {
	margin:0;
	list-style: none outside none;
}

.flexslider .slides img {
	display: block;
	max-width: 564px;
}


.flexslider .hover-img {
	position:absolute;
	top:0;
	left:0;
	opacity:0;
}
/* Caption style */

.flexslider .slides > li .flex-caption {
	font-family:  'Righteous', cursive;
	color:#302b32;
	font-size:20px;
	height: 26px;
	line-height:24px;
	position:absolute;
	bottom: 0 !important;
	left: 0 !important;
	right: 0 !important;
	top: 358px;
	padding: 15px 22px 16px 30px;
	background: url(../images/caption.png) 0 0 repeat;
	margin:0px 0 0 0px;
	opacity:0;

}

.flexslider .slides > li .flex-caption a {
	float: right;
	display: block;
	width: 30px;
	height: 31px;
	background: url(../images/caption_link.png) 0 0 no-repeat;
}

.flexslider .slides > li .flex-caption a:hover {
	opacity: 0.5;
}

#responsiveFlag {
	display: block;
}


@media handheld, only screen and (min-width:995px) {
	.flexslider .slides > li {
		display:block;	
	}	
	#responsiveFlag{display:block;}
}

 @media only screen and (max-width: 995px) {
 .flexslider .slides img {
max-width: 100%;width:100%
}
 .flex-control-nav {
display:none;
}
 .flex-direction-nav {
position: absolute;
left: 0;
top: 50%;
width:100%;
overflow:hidden;
margin:-15px 0 0 0;
list-style: none outside none;
}
 .flex-direction-nav li {
float:left;
width: auto;
height:100%;
margin: 0!important;
}

 .flex-direction-nav li:first-child+li {
 	float: right;
 }

 .flex-direction-nav li img,  .flex-direction-nav li {
 	max-width: 100% !important;
 }
 .flex-direction-nav li:first-child {
text-align:left
}
 .flex-direction-nav a {
display:block;
font-size:0;
line-height:0;
text-indent:-1000px;
overflow:hidden;
width:30px !important;
height:31px  !important;
vertical-align: middle;

}
 .flex-direction-nav a:hover {
	opacity: 0.5;}

 .flex-direction-nav a.flex-next {
background:url(../images/prevnext.png) no-repeat right 0;
position: relative;
right: 5px;
}
 .flex-direction-nav a.flex-prev {
background:url(../images/prevnext.png) no-repeat 0 0;
position: relative;
left: 5px;
}
 #responsiveFlag {
font-size:0;
line-height:0;
display:inline;
}
 .flexslider .slides > li .flex-caption {
display:none
}
}

@media only screen and (max-width: 420px) {
 .flex-direction-nav {
margin-top:-20px
}
 .flex-direction-nav a {
width:40px;
height:40px
}
}
 @media (max-width: 320px) {
 .flex-direction-nav {
margin-top:-15px
}
 .flex-direction-nav a {
width:30px;
height:30px
}
}
.flexslider .slides > li.active .flex-caption {
	opacity:1
}