/**/
@import "../css/reset.css";
@import "../css/skeleton.css";
@import "../css/superfish.css";
@import url(http://fonts.googleapis.com/css?family=Righteous);




html {
	width: 100%;
}
.float_right {
	float: right !important;
}
 a [href^="tel:"] {
color: inherit;
text-decoration:none;
}

* {
	-webkit-text-size-adjust: none;
}
body {
	font: 13px/18px  Arial, Helvetica, sans-serif;
	color:#807876;
	position:relative;
	min-width:960px;
	height: 100%;
	min-height: 100%;
	background: url(../images/bg_body.jpg) 50% 0 no-repeat #3c2e52;
}

.main {
	background: #f9f0df;
	margin: 0 auto;
	width: 1000px;
}
html, body {
	height:100%;
}
h1, h2, h3, h4, h5, h6 {
	font-family:  'Righteous', cursive;
	color: #302b32;
	font-weight: normal; 
}

h2 {
	font-size: 33px;
	line-height: 36px;
	;
}

p {
	margin-bottom: 18px;
}


address {
	font-style: normal;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
} 
ul.list li {
	background: url(../images/marker.png) 0 4px no-repeat;
	padding-left: 20px;
	margin-bottom: 7px;
}	

ul.list1 {
	padding-top: 1px;
}

ul.list1 li {
	background: url(../images/marker.png) 0 4px no-repeat;
	padding-left: 20px;
	font-size: 16px;
	margin-bottom: 18px;
}	



/*links*/

a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

a:hover {
	color: #eb7e8d;
}

a.btn {
	color: #f9f0df;
	display: inline-block;
	border-radius: 5px;
	background: #3c2e52;
	padding: 7px 20px 6px 21px;
	font-family:  Arial, Helvetica, sans-serif;
}

a.btn:hover {
	background: #eb7e8d;
}

/*preclass*/

.mb0 {
	margin-bottom: 0px !important;
}
.m0 {
	margin: 0 !important;
}
.pad0 {
	padding: 0 !important;
}

.pb0 {
	padding-bottom: 0;
}

.pad1 {
	padding-right: 28px;
}

.img_inner {
	margin-top: 4px;
	margin-bottom: 26px;
}

.fleft {
	float: left;
	margin-right: 20px;
	margin-bottom: 0px;	
}

.fright {
	float: right !important;	
}

.alright {
	text-align: right;
}
.center {
	text-align: center;
}
.wrapper, .extra_wrapper {
	overflow: hidden;
}
.clear {
	float: none !important;
	clear: both;
}

.hor_separator {
	background: url(../images/hor_separator.png) 0 100% repeat-x;
	padding-top: 51px;
	height: 1px;
}

.clear.c1 {
	height: 26px
}

/*header*/

.colors_top {
	background: url(../images/colors_top.png) 50% 0 no-repeat;
	height: 12px;
}

.colors_bot {
	background: url(../images/colors_bottom.png) 50% 0 no-repeat;
	height: 12px;
}

header {
	display: block;
	padding: 70px 0 30px;
}

header .links {
	float:  right;
	padding-top: 46px;

}

header .links a {
	color: #eb7e8d;
}

header .links a:hover {
color:#807876;
}


header h1 {
	float: left;

}
header h1 a {
	display: block;
	overflow: hidden;
	margin: 0 auto;
	width: 227px;
	height: 77px;
	text-indent: -999px;
}

header h1 a img {
	display: block;	
}



/*Content*/

.page_block {
	background: #eb7e8d;
	margin-right: 20px;
}

.page_block a {
	display: block;
	background: #d6cfc1;
	color: #302b32;
	padding-left: 20px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 11px 20px;
}

.page_block a:hover {
	background: #f7eb83;
}


.page1_block h2 {
	padding-top: 9px;
	margin-bottom: 38px;
}

.page1_block .block {
	font-size: 16px;
	font-family:  Arial, Helvetica, sans-serif;
}

.page1_block .block span {
	color: #302b32;
	display: block;
	font-size: 18px;
	margin-bottom: 7px;
}

.page1_block .block:first-child {
	background: url(../images/hor_separator.png) 0 100% repeat-x;
	padding-bottom: 16px;
	margin-bottom: 13px;
}

.page1_block .block:first-child+.block {
	margin-bottom: 39px;
}



.page1_block .extra_wrapper {
	color: #fff;
	font: 32px/28px  'Righteous', cursive;
	padding-left: 20px;
	padding-top: 166px;
	padding-bottom: 5px;

}

.page_block img {
	float: right;
}

.content.page1 {
	padding-bottom: 66px;	
}

.content {
	padding-top: 10px;
	padding-bottom: 67px;
}


.content.page1 {
	padding-top: 16px;
}

.content.page1 h2 {
	padding-top: 41px;
	margin-bottom: 31px;
}

.content h2 {
	padding-top: 41px;
	margin-bottom: 37px;
}

.content a.btn {
	margin-top: 33px;
}

.content a.btn.m1 {
	margin-top: 35px;
}

.content a.btn.m2 {
	margin-top: 24px;
}

.content a.btn.m3 {
	margin-top: 39px;
}

.content {
	display: block;
}

.content h2.head1 {
	margin-top: 35px;
}

blockquote:first-child {
	padding-top: 1px;
	background-position: 0 2px;
}

blockquote {
	padding-left: 24px;
	background: url(../images/quotes.png) 0 14px no-repeat;
	font-size: 16px;
	padding-top: 13px;
	padding-bottom: 15px;

}

blockquote a {
	font-size: 18px;
	color: #302b32;
	position: relative;
	top: -1px;
}

.block1 {
	font-size: 16px;
	margin-bottom: 17px;
}

.text1 {
	font-size: 18px;
	color: #302b32;
}

.block1 img {
	float: left;
	margin-top: 4px;
	margin-right: 20px;
}

.block1 .text1 {
	padding-top: 1px;
	margin-bottom: 7px;
}

.thumbs .img_inner {
	margin-bottom: 27px;
}

.thumbs .text1 {
	margin-bottom: 2px;
}

.hor_separator.h1 {
	padding-top: 47px;
}

 .search {
 	padding-top: 4px;
 }

  .search #form1 {
  	padding-right: 0;
  }
  .search #form1 a.btn {
  	margin-top: 32px;
  }


 .search #form1 label.sel {
	width: 140px;
}

 .search #form1 label.text {
 	width: auto;
 }

 .tag_cloud {
 	margin-top: -5px;
 }

 .tag_cloud a {
 	text-decoration: underline;
 	font-size: 14px;
 	line-height: 24px;
 	margin-right: 9px;
 }

.search_block h2 {
	padding-top: 35px;
	padding-bottom: 4px;
}

#form2 {
	background: #e5ddce;
	padding: 10px 13px 9px 10px;
	overflow: hidden;
	height: 41px;
	-moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}

#form2 input {
	color: #807876;
	width: 244px;
	font: 16px/18px  Arial, Helvetica, sans-serif;
	background: none;
	float: left;
	margin: 0;
	padding: 0;
	border: none;
}



#form2 a {
display: block;
width: 27px;
height: 22px;
float: right;
background: url(../images/search_icon.png) 0 0 no-repeat;
 }


.blog .title {
	padding-right: 52px;
	padding-bottom: 25px;
}

.blog a.btn {
	margin-top: 38px;
	margin-right: 5px;
}

.blog .title .text1 {
	padding-top: 1px;
	margin-bottom: 5px;
}

.blog .title .user {
	padding-left: 21px;
	font-size: 16px;

	background: url(../images/user.png) 0 2px no-repeat;
}

.blog .title .user a {
	font-size: 12px;
	display: inline-block;margin-top: 2px;
}

.blog:first-child {
	padding-bottom: 52px;
	background: url(../images/hor_separator.png) 0 100% repeat-x;
	margin-bottom: 43px;
}

.time_fleft {
	float: left;
	text-align: center;
	color: #fff;
	width: 60px;
	margin-top: -5px;
	margin-right: 20px;
}

.time_fleft div:first-child {
	background: #eb7e8d;
	font-size: 12px;
	line-height: 19px;
}

.time_fleft div:first-child+div {
	background: #3c2e52;
	font: 27px/40px 'Righteous', cursive;
	height: 41px;
	
}

.blog .comment {
	float:  right;
	display: inline-block;
	background: url(../images/comment.png) right 1px no-repeat;
	padding-right: 39px;
	padding-bottom: 4px;
	font-size: 12px;
	margin-top: 4px;
}

.tweet_block h2 {
	padding-top: 35px;
}

#twitter .jta-tweet-profile-image {
	float: left;
	margin-top: 4px;
	margin-right: 18px;
}

.jta-tweet-list-item {
	background: url(../images/hor_separator.png) 0 0 repeat-x;
	padding-top: 14px;
}

.jta-tweet-list-item:first-child {
	padding-top: 0;
	background: none;
}


#twitter {
	font-size: 16px;
}

#twitter a {
	color: #302b32 ;
	font-size: 18px;
}

#twitter a:hover {
	color: #eb7e8d;
}

.jta-tweet-body {
	overflow: hidden;
}

.privacy .text1 {
	margin-bottom: 2px;
	padding-top: 1px;
}

.privacy p {
	margin-bottom: 15px;
}

.privacy a {
	font-size: 16px;
}
/***Map***/

.map figure.img_inner {
	display: block;
	height: auto;
	line-height: 0;
	padding-top: 15px;
	margin-bottom: 15px !important;
	margin-top: -12px;
	overflow: hidden;
	width: 380px;
}

.map .text1 {
	margin-bottom: 2px;
	padding-top: 1px;
}

.map a.link-1 {
	text-decoration: none;
	font-size: 16px;
}
.map figure iframe {
	width: 100%;
	height: 342px;
}
.map address {
	margin-bottom: 18px;
}


address dd span {
	min-width: 78px;
	display: inline-block;

}

/* ------------- * Selects * ------------- */
.registry .text1{
	padding-top: 1px;
	margin-bottom: 18px;
}

#form1 {
	padding-right: 21px;
}

#form1 label {
	display: block;
	min-height: 51px;
	float: left;
}

#form1 input {
	border: none;
	font: normal 16px/18px  Arial, Helvetica, sans-serif;
	color:  #807876;
	padding:  5px 10px 7px;
	height: 41px;
	background: #e5ddce;
	 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
 float: left;
 width: 100%;
}

label.date span {
	display: block;
}

#form1 label.inp {
	float: right;
	width: 280px;
}

#form1 label.text {
	float: left;
	width: 150px;
	min-height: 28px;
	font-size: 16px;
	line-height: 18px;
	padding: 12px 0 11px;
	-moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;

}	

#form1 label.text.dr {
	padding-top: 3px;
	margin-bottom: 9px;
}
#form1 label.text.dr span{
	font-size: 13px;
	padding-top: 1px;
	display: block;
}

.jqTransformSelectWrapper>div {
	display: none;
}

#form1 label.sel {
	width: 280px;
	float:  right;
} 

#form1 label.sel1 {
	width: 88px;
	float:  right;
	margin-right: 8px;
}

.jqTransformSelectWrapper {
	width: 100% !important;
}

#form1 label.sel1 select, #form1 label.sel select {
	padding-right: 3px;
}

.form-style .jqTransformHidden {
	display: none;
}

#form1 select {
	font-family: Arial, Helvetica, sans-serif;
	color:#807876;
	display: block;
	font-size:16px;
	height:41px;
	padding:  10px 7px 9px;
	border: none;
	width: 100%;
	background:#e5ddce;
	position: relative;
	margin-bottom: 8px;
	z-index: 1 !important;
	outline: none;
	-moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}


#form1 a.btn {
	margin-top: 23px;
}


.order_block1 #form1 a.btn {
	margin-top: 12px;
}

label.check {
	float: left;
	font-weight: bold;
	margin-left: 8px;
	margin-top: 4px;


}

label.check span {
	cursor: pointer;
}

.jqTransformCheckboxWrapper {
	width: 23px;
	height: 23px;
	background: #e5ddce;
	border: none;
	display: block;
	float: left;	
	margin-top: 2px;
	margin-right: 10px;
	position: relative;
}

.jqTransformCheckboxWrapper a {
	width: 13px;
	height: 13px;
	position:  absolute;
	top: 5px;
	left: 5px;
}

.jqTransformCheckboxWrapper a:hover, .jqTransformCheckboxWrapper a.jqTransformChecked {
	background: #f9f0df;
}
/************Footer***********/

footer {
	padding: 31px 0;
	display: block;
	color: #685d7b;
}

footer a {
	text-decoration: underline;
	color: #a5a0ac;
}



@media only screen and (max-width: 1024px) {
	.main {
		width: auto;
	}

}


/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 995px) {
 body {
min-width:768px;
}
#form1 label {
	float: none !important;
	width: 100% !important;
}

#form2 input {
	width: 175px;
}

#form1 {
	padding-right: 0;
}

#form1 label.check {
	float:  right !important;
	margin: 0;
	width: auto !important;
	margin-top: -34px;
}

.jqTransformCheckboxWrapper {
	margin-right: 0;
}

#flexslider {
	width: 398px;
	padding-bottom: 121px;
	position: relative;
}


 .map figure, .map figure iframe, #form input, #form textarea, #form .success {
 width: 100% !important;
}
 #form .success {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}
 .map figure {
 height: auto !important;
}


.map address {
	float: left;
	margin-right: 70px;	
}


.pad1 {
	padding: 0;
}


.page_block img {
	width: 100%;
	float:  none;
}

.page_block .extra_wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
}

.extra_wrapper.padvis {
	overflow: visible;
}



}
 @media only screen and (max-width: 767px) {
 body {
min-width:420px;
}

ul.list li.mb0 {
	margin-bottom: 7px !important;
}

#form2 input {
	width: 335px;
}

.thumbs .img_inner {
	margin-top: 20px;
}

.content h2.head1 {
	margin-top: 0;
}

.page_block {
	margin-right: 0;
}

.fleft {
	margin-right: 0 !important;
}

.extra_wrapper {
	overflow: visible;
}


.blog .extra_wrapper {
 overflow: hidden;
}


h1 a, h1 a img {
	width: 80% !important;
	height:  auto !important;
	margin: 0 auto;
	float: none;
}

header .links {
	float: none;
	text-align: center;
	padding-bottom: 20px;
}

#carousel {
	display: none !important;
}

#flexslider {
	padding-bottom: 10px;
}
.camera_wrap {
	min-height: 285px !important;	
}

.map address {
	float: left;
	margin-right: 30px;	
}

.img_inner {
 width: 100%;
}

header h1 {
	float: none;	
}
h1 a {
	margin: 0 auto;
}

.noresize {
	width: auto !important;	
}

.map figure iframe {
	width: 100%;
	height: 300px;
}

.img_inner.fleft {
	margin-bottom: 20px;
}

}
 @media only screen and (max-width: 479px) {

 body {
min-width:300px;
}

#form2 input {
	width: 225px;
}


.header_top .fright {
	float: left !important;	
}
 
 .map figure iframe {
	width: 100%;
	height: 150px;
}

.menu_block {
		float: none !important;
		margin: 0 15px !important;	
		
	}
	
	.camera_wrap {
		height: 204px !important;
		 	
	}

 }

