{% extends "plain-page-base.html" %}

{% block content %}

    <div class="template-content">
        <div class="container-fluid">

            <div class="about-content">
                <h2 class="page-title">
                    Flirtu - крупнейшая в мире coциальная сеть для знакомств
                </h2>
                <div class="contact-us__sub-title">
                   Наша миссия - предоставить людям лучшие технологии для встреч, потому что счастьем лучше делиться.
                </div>


                <div class="about-content__text">
                    <p>
                       Мы в Flirtu уверены, что каждый найдет себе кого-то для себя. Мы стали крупнейшей социальныой сетью для знакомств в мире, потому что мы создали лучшие инструменты для связи людей
                    </p>

                    <p>
                       Наш многолетний опыт дал нам отличные идеи и опыт, который помог нам
                         решать основные проблемы в области социальных знакомств, особенно проблемы, связанные с конфиденциальностью,
                         Безопасность и охрана. Это позволило нам оставаться на шаг впереди и сосредоточиться на инновациях,
                         новаторские многие современные стандартные функции, такие как сопоставление на основе местоположения.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}