{% extends "plain-page-base.html" %}
{% load i18n static thumbnail %}
{% block title %} - Вопросы о Flirtu {% endblock %}
{% block content %}

    <div class="template-content">
    <div class="container-fluid">
      <h2>Вопросы о Flirtu</h2>

      <div class="faq__question-list">
        <a href="#1">Что это за бот и как он работает?</a>
        <a href="#2">Я поставил ❌ вместо 💚, как мне изменить свое решение?</a>
        <a href="#3">Почему я не могу общаться с теми, кто мне понравился, сразу же?</a>
        <a href="#4">Почему после совпадения я получаю ссылку на чат, а не контакт Телеграм?</a>
        <a href="#5">Что такое монеты и платные услуги? Зачем они нужны?</a>
        <a href="#6">Как открыть раздел «Вы понравились»?</a>
        <a href="#7">Как получить монеты?</a>
        <a href="#8">Как заработать монеты (получить бесплатно)?</a>
        <a href="#9">Почему меня заставляют платить?</a>
        <a href="#10">Как можно бесплатно знакомиться с девушками/парнями?</a>
        <a href="#11">У нас было совпадение, я написал, но мне не отвечают – почему?</a>
        <a href="#12">Я почти никому не нравлюсь, у меня мало совпадений – что делать?</a>
        <a href="#13">Почему моё фото отклонили и заблокировали аккаунт?</a>
        <a href="#14">С какого возраста можно пользоваться сервисом?</a>
        <a href="#15">Как удалить профиль?</a>
        <a href="#16">У меня пропали кнопки управления ботом</a>
      </div>
<p>Если вы не нашли тут ответа на свой вопрос, вы можете обратиться в техподдержку сервиса <a href="https://t.me/flirtu_support" target="_blank">@Flirtu_support.</a>
</p>
<p>

Пожалуйста, заранее сформулируйте свой вопрос – опишите, что у вас случилось, в чем проблема и что именно вам непонятно, при необходимости прикрепите скриншот экрана.</p>

<p>Обращения типа «всё плохо», «что делать», «я не понимаю», «помогите, у меня не получается» и иные, не содержащие внятного описания проблемы, рассматриваться не будут.</p>
<p>
Голосовые сообщения и сообщения, отправленные в секретном чате, рассматриваться также не будут.</p>
      <h3 id="1">Что это за бот и как он работает?</h3>
      <p> @Flirtu_bot – это сервис знакомств. Вы нажимаете <a href="#1">✳️СТАРТ ✳️</a> и просматриваете анкеты тех, кто тоже ищет пару.
Ставите 💚 тем, которые понравились.
Когда они тоже поставят вам 💚, вы оба получите сообщение о 💞взаимной симпатии и 💌ссылку на чат, где сможете пообщаться напрямую.
Если не хотите ждать, то можно воспользоваться <a href="#5">платными услугами</a>, чтоб повысить вашу популярность или упростить процесс знакомства.</p>

<h3 id="2">Я поставил ❌ вместо 💚, как мне изменить свое решение?</h3>
<p>
  Никак. Если оценка поставлена, то изменить или отменить ее нельзя.
Так что, если сомневаетесь – лучше ставьте 💚. Прекратить общаться потом всегда можно )))
</p>

<h3 id="3">
  Почему я не могу общаться с теми, кто мне понравился, сразу же?
</h3>
<p>
  Потому что симпатия должна быть ВЗАИМНОЙ.
Недостаточно, чтоб только вы поставили кому-то 💚. Этот человек тоже должен оценить вас 💚.
Неважно, кто поставит 💚 первым а кто вторым, главное, чтоб вы ОБА сделали это. Только тогда у вас будет совпадение симпатий, после чего вы оба получите сообщение о 💞взаимной симпатии и 💌ссылку на чат, где сможете пообщаться напрямую.
</p>

<h3 id="4">Почему после совпадения я получаю ссылку на чат, а не контакт Телеграм?</h3>
<p>
  Контакты пользователей – это личная информация, мы не можем распространять их. Только сами пользователи могут решать, кому сообщать свои контакты, а кому нет.
Чат – это возможность пообщаться с собеседником и решить, хотите ли вы продолжать общение и дать ему свои контакты.
</p>

<h3 id="5">Что такое монеты и платные услуги? Зачем они нужны?</h3>
<p>
  Монеты – это валюта бота для приобретения/открытия дополнительных платных услуг, которые могут ускорить и облегчить процесс знакомства или повысить вашу популярность:
  <p>- 🚀Priority – это функция, которая продвигает вашу анкету на приоритетные места в показе для всех пользователей, и они видят вас вне очереди. Вы сразу заметите, как повысилась ваша популярность и увеличилось количество совпадений )))</p>
  <p>- 💗Вы понравились – это раздел, в котором отобраны анкеты ТОЛЬКО тех людей, кому вы УЖЕ понравились. Если вы не хотите смотреть в Старте все анкеты, подходящие вашим условиям поиска, или не хотите ждать, пока кто-то из понравившихся вам увидит и лайкнет вас в ответ – в этом разделе можно выбирать из тех, кто уже поставили вам 💚 и сразу же получать совпадение + 💌чат для общения. </p>
  <p>- 🎁Подарок – это способ привлечь внимание вашей симпатии и предложить ему/ей вашу кандидатуру для оценки сразу же, в момент отправки подарка, а не в общем показе. Более того, если изначально вашу анкету отклонили, подарок даст вашей симпатии возможность изменить решение.</p>


<p>- Ускорение временного лимита при показе анкет для тех, кто не любит ждать</p>

</p>

<h3 id="6">
 Как открыть раздел «Вы понравились»?
</h3>
<p>
  Кнопка «💗Вы понравились» находится в главном меню, справа внизу под кнопкой
  <a href="#1">✳️СТАРТ ✳️</a>

</p>
  <img src="//d33tflfwlj5scn.cloudfront.net{% static 'assets/img/faq.jpg' %}" alt="" class="faq-img">

<h3 id="7">Как получить монеты?</h3>
<p>Вам нужно зайти в раздел 💰Монеты. Там есть подробная инструкция, для чего их можно использовать и как приобрести. Возможны различные способы оплаты.</p>

<h3 id="8">Как заработать монеты (получить бесплатно)?</h3>
<p>В настоящее время такая функция отсутствует. Возможно, она появится позже.</p>

<h3 id="9">Почему меня заставляют платить?</h3>
<p>Вас никто не заставляет платить. Весь базовый функционал, необходимый для знакомства, доступен бесплатно. А пользоваться <a href="#5">платными услугами</a> или нет – это исключительно ваше желание и решение.</p>

<h3 id="10">Как можно бесплатно знакомиться с девушками/парнями?</h3>
<p>Нажимайте <a href="#1">✳️СТАРТ ✳️</a>.
Там собраны анкеты всех пользователей, подходящие под ваши условия поиска – и тех, кому вы уже понравились, и тех, кто вас еще не видел. </p>

<h3 id="11">У нас было совпадение, я написал, но мне не отвечают – почему?</h3>
<p>Ответить на этот вопрос может только тот, кто вам не отвечает.
При получении сообщения пользователь получает звуковое уведомление о входящем сообщении, а также указание на непрочитанные сообщения в кнопках главного меню.
Не отвечать могут по многим причинам - возможно, этот человек сейчас занят, не сидит постоянно в боте или уже познакомился с кем-то еще.</p>

<h3 id="12">Я почти никому не нравлюсь, у меня мало совпадений – что делать?</h3>
<p>Позаботьтесь о том, чтоб ваша анкета выглядела привлекательно и интересно: загрузите хорошее, действительно хорошее селфи, яркое, красивое. Заполните раздел «О себе» - напишите немного о том, каких отношений вы ищете, о своих вкусах и интересах.
Также вы можете воспользоваться функцией 🚀Priority для увеличения вашей популярности и показа вашей анкеты другим пользователям без очереди.</p>

<h3 id="13">Почему моё фото отклонили и заблокировали аккаунт?</h3>
<p>Потому что это фото или иные данные профиля не соответствуют правилам сервиса.
Например – изображение или иные данные плохого качества / не содержит лица / взято из интернета / содержит адреса или контакты / относятся к лицу, не достигшему 18 лет или ребенку / содержат рекламу или торговые предложения и т.д.</p>

<h3 id="14">С какого возраста можно пользоваться сервисом?</h3>
<p>С 18 лет.</p>

<h3 id="15">Как удалить профиль?</h3>
<p>
В настоящее время пользователи не могут сделать этого самостоятельно.
Для удаления профиля необходимо обратиться в техподдержку сервиса по адресу
<a href="https://t.me/flirtu_support" target="_blank">@Flirtu_support.</a>
В обращении необходимо прислать сообщение бота (или скриншот) с данными пользователя, которое бот присылает при входе в ⚙️Настройки ––> 👤Мой профиль.
Также, пожалуйста, указывайте причину удаления – нам очень важно знать это, чтоб сделать сервис лучше ))
</p>

<h3 id="16">У меня пропали кнопки управления ботом</h3>
<p>Нажмите сюда:</p>
<img src="//d33tflfwlj5scn.cloudfront.net{% static 'assets/img/faq2.jpg' %}" alt="" class="faq-img">

<p>Если вы не нашли тут ответа на свой вопрос, вы можете обратиться в техподдержку сервиса <a href="https://t.me/flirtu_support" target="_blank">@Flirtu_support</a>.
</p>
<p>
Пожалуйста, заранее сформулируйте свой вопрос – опишите, что у вас случилось, в чем проблема и что именно вам непонятно, при необходимости прикрепите скриншот экрана.
</p>
<p>
Обращения типа «всё плохо», «что делать», «я не понимаю», «помогите, у меня не получается» и иные, не содержащие внятного описания проблемы, рассматриваться не будут. </p>
<p>
Голосовые сообщения и сообщения, отправленные в секретном чате, рассматриваться также не будут.
</p>

</div>
</div>

{% endblock %}